* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Merriweather Sans", sans-serif;
  color: #3730a3;
}
.wrapper {
  height: 500px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: auto;
  max-width: 1140px;
  padding: 40px;
}
h1 {
  font-size: 70px;
  font-weight: bold;
  font-family: serif;
}
.restart {
  width: 175px;
  height: 50px;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 50px;
  border: 2px solid #4c6986;
  transition: all 0.2s ease;
  cursor: pointer;
  margin-top: 30px;
}
.restart:hover {
  color: white;
  background-color: #4c6986;
}
.header {
  display: flex;
  color: #9a9a9a;
  font-size: 24px;
}
.title {
  max-width: 500px;
}
.header .player-X {
  flex: 1;
  border-bottom: 5px solid #eee;
  padding: 8px;
  justify-content: center;
  text-align: center;
}
.player-X.active {
  color: rgb(184, 184, 14);
  border-color: rgb(88, 88, 11);
}
.header .player-Y {
  flex: 1;
  border-bottom: 5px solid #eee;
  padding: 8px;
  text-align: center;
}
.player-Y.active {
  color: red;
  border-color: red;
}
.game {
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  flex-grow: 1;
  font-size: 80px;
  padding: 10px;
}
.board-title:not(:nth-child(3n)) {
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: solid 1px grey;
  padding: 10px;
}
.board-title:not(:nth-last-child(-n + 3)) {
  border-bottom: solid 1px grey;
}
.board-title {
  justify-content: center;
  align-items: center;
  background: white;
  display: flex;
  flex-grow: 1;
  cursor: pointer;
}
.board-title:hover {
  background: #eee;
}
.tile-winner {
  color: green;
  padding: 10px;
  flex-grow: 1;
}
.show {
  background: #000;
}
.winning {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px 0;
  font-family: serif;
  color: #7158e2;
}

@media (max-width: 1200px) {
  .wrapper {
    flex-direction: column;
  }
  .left {
    margin-bottom: 20px;
  }
}
@media (max-width: 400px) {
  .game {
    width: 300px;
    height: 300px;
  }
  .header .player-X {
    font-size: 22px;
  }
  .header .player-Y {
    font-size: 22px;
  }
  .board {
    padding: 0px;
    font-size: 60px;
  }
  .wrapper {
    width: 0px;
    margin-left: 95px;
  }
  h1 {
    font-size: 40px;
  }
}
